.body-home {
    display: flex;
    background-image: url("../image/motogpf1.jpg");
    background-size: 100% 210%;
    flex-direction: column;
}

.body-signin {
    display: flex;
    background-image: url("../image/motogpf1.jpg");
    background-size: cover;
    flex-direction: column;
    overflow: clip;
}

.body-admin {
    display: flex;
    background-image: url("../image/motogpf1.jpg");
    background-size: cover;
    flex-direction: column;

}
.body-menu {
    display: flex;
    background-image: url("../image/motogpf1.jpg");
    background-size: cover;
    flex-direction: column;

}

.facebook {
    width: 50px;
    height: 50px;
}

.twiiter {
    width: 50px;
    height: 50px;
}

.reseaux
{
    display: flex;
    float: right;
}

/* header bar css */

header{
    background-color: black;
    height: 20px;
    width: 90%;
}

.img-logo-header {
    margin-left: 260px;

}
.title-name {
    color:#05FF00;
}

.a-links {
    font-size: 18px;
    font-weight: 500;
    color: #05FF00;
    text-decoration: none;   

}


.count{
    margin-bottom: 15px;
}

 li, a {
    font-size: 18px;
    font-weight: 500;
    color: green;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 5%;
    
}

.header-links {
    list-style: none;
}

.header-links-cart{
    list-style: none;
    margin-right: -260px;
}

.header-links-cart li{
    display: inline-block;
    padding: 0px 20px;

}

.header-links-cart li a {
    transition: all 0.3s ease 0s;
}

.header-links-cart li a:hover {
    color: cornflowerblue;
}

.header-links li {
    display: inline-block;
    padding: 0px 20px;
}


.header-links li a {
    transition: all 0.3s ease 0s;

}

.header-links li a:hover {
    color: cornflowerblue;
}

.header-link {
    list-style: none;
}

.header-link-cart{
    list-style: none;
    margin-right: -260px;
}

.header-link-cart li{
    display: inline-block;
    padding: 0px 20px;

}

.header-link-cart li a {
    transition: all 0.3s ease 0s;
}

.header-link-cart li a:hover {
    color: cornflowerblue;
}

.header-link li {
    display: inline-block;
    
}


.header-link li a {
    transition: all 0.3s ease 0s;

}

.header-link li a:hover {
    color: cornflowerblue;
}


/* fooeter of ecah page */

footer {
    width: 99%;
    background-color: #05FF00;
    height: 60px;
    /* position:absolute;
    bottom:0;
    margin-bottom: 7px; */
    
}

.footer-home{
    width: 99%;
    background-color: #05FF00;
    height: 60px;
    bottom:0;
    margin-bottom: 7px; 

}

.footer-menu {
    width: 99%;
    background-color: #05FF00;
    height: 60px;
    bottom:0;
    margin-bottom: 7px; 
}

.footer-login{
    width: 99%;
    background-color: #05FF00;
    position: fixed;
    bottom: 5px;
}


.footer-register {
    width: 99%;
    background-color: #05FF00;
    position: fixed;
    bottom: 5px;
}

.footer-cart{

    width: 99%;
    background-color: #05FF00;
    height: 60px;
    bottom:0;
    margin-bottom: 7px; 
}

.img-top {
    height: 50px;
    width: 50px;
    margin-right: 20px;
    margin-top: 5px;
}

.img-header-product{
    margin-left: 260px;
   
}

.img-header-menu{
     margin-left: 260px;

}

.img-header-cart{
    margin-left: 260px;
    
}
    
h1 {
    margin-left: 20px;
    font-size: 20px;
    color:#05FF00 ;
    font-weight: bolder;
    
}
.logo {
    margin-left: 215px;
    margin-top: 5px;
  
}
.a{
    color: #05FF00;
}
.width {
    width: 420px;
}
.width-deco {
    width: 500px;
}
.haut {
    display: flex;
}
.username {
    margin-left: 435px;
    color:#05FF00;
}
.main-home{
    margin-top: 50px;
}
.title-home{
    margin-top: 30px;
    font-size: 85px;
    background-color: black;
    color:#05FF00;
    width: 675px;
     margin-left: auto ;
    margin-right: auto;
}

.intro-home {
    color:white;
    background-color: black;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 455px;
}
.liencompte {
    color:#05FF00;
    background-color: black;
    font-size: 30px;
    width: 85px;
    margin-left: 680px;
}
    
.cadre {
    background-color: black;
    width: 520px;
    height: 600px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
}
.cadre-admin {
    background-color: black;
    width: 500px;
    height: 730px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}
.cadre-panier {
    background-color: black;
    width: 850px;
    height: 525px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
}
.cadre-menu {
    background-color: black;
    width: 520px;
    height: 400px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 130px;
    margin-bottom: 50px; 
    border-radius: 10px;
}

.login {
    font-size: 30px;
}

.p-login{
    color: green;
    font-size: 20px;
}

.button-login{
    font-size: 20px;
    color: white;
    width: 100%;
    height: 43px;
    margin-top: 10px;
    border: none;
    background-color: green;
    border-radius: 10px;
    transition: 0.3s;
}

.button-login:hover{
    color: white;
    background-color: #05FF00;
}

.label-admin{
    margin-top: 2px;
} 

.button-admin{

    font-size: 20px;
    color: white;
    width: 100%;
    height: 43px;
    margin-top: -10px;
    border: none;
    background-color: green;
    margin-top: 30px;

}

.button-admin:hover{
    color: white;
    background-color: #05FF00;
}

.button-login{
    font-size: 20px;
    color: white;
    width: 100%;
    height: 43px;
    margin-top: -10px;
    border: none;
    background-color: green;
    margin-top: 30px;
    border-radius: 10px;
    transition: 0.3s;

}

.button-login:hover{
    color: white;
    background-color: #05FF00;
}

.label{
    color: white;
    font-size: 15px;
}

.form-signin input {
    margin-left: auto;
    margin-right: auto;
    
}
.form-signin select {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    
}
.form-admin input {
    margin-left: auto;
    margin-right: auto;
    
}
.form-menu input {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    
}
.form-admin select {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    
}
.p{
    color: white;
    font-size: 25px;
}
.labe{
    color: white;
    font-size: 15px;
}
.bouton {
    font-size: 20px;
    color: white;
    width: 100%;
    height: 43px;
    margin-top: -10px;
    border: none;
    background-color: green;
    
}

.bouton:hover{
    color: white;
    background-color: #05FF00;
}
.bouton-menu {
    font-size: 20px;
    color: white;
    width: 100%;
    height: 43px;
    margin: center;
    border: none;
    background-color: green;
    width: 50%;
}

.bouton-menu:hover{
    color: white;
    background-color: #05FF00;
}


.bouton-panier {
    font-size: 20px;
    color: white;
    width: 30%;
    height: 43px;
    margin-top: -10px;
    border: none;
    background-color: green;    
}

.form-signin {
    width: 300px;
    margin-left: auto;
    margin-right: auto;

}

.form-signin a {
    width: 300px;
    margin-left: auto;
    margin-right: auto;

}
.form-admin {
    width: 300px;
    margin-left: auto;
    margin-right: auto;

}

.form-admin a {
    width: 300px;
    margin-left: auto;
    margin-right: auto;

}


.body-register {
    display: flex;
    background-image: url("../image/motogpf1.jpg");
    background-size: cover;
    flex-direction: column;
}

.body-forgotpassword {
    display: flex;
    background-image: url("../image/motogpf1.jpg");
    background-size: cover;
    flex-direction: column;

}
.Register-box{
     width: 500px;
     height: 560px;
     margin: auto;
     margin-top: 90px;
     margin-bottom: auto;
     background-color: black;
     border-radius: 10px;
}

.h1-register{
    text-align: center;
    padding-top: 10px;
    font-size: 30px;

}

.h4-register{
    color:green;
    text-align:center;
}

.button-register{
    font-size: 20px;
    color: white;
    width: 100%;
    height: 43px;
    margin-top: 17px;
    border: none;
    background-color: green;
    border-radius: 10px;
    transition: 0.3s;

}

.button-register:hover{
    color: white;
    background-color: greenyellow;
}


label {
    color: white; 
}

form {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

form label{
    display: flex;
    margin-top: 17px;
    font-size: 20px;
}

form input{
    width: 90%;
    padding: 13px;
}

.botton-select {
    font-size: 20px;
    color: white;
    width: 100%;
    height: 43px;
    margin-top: 17px;
    border: none;
    background-color: green;
    border-radius: 10px;
    transition: 0.3s;

}

.botton-select:hover{
    color: white;
    background-color: #05FF00;
}


.paragraph{
    color: white;
    text-align: center;
}

.login-page{
    color:greenyellow;
}

.reset-box{
    width: 600px;
     height: 200px;
     margin-left: auto;
     margin-right: auto;
     margin-top: 200px;
     margin-bottom: 200px;
     background-color: black;

}

.h1-reset {
    text-align: center;
    font-size: 20px;

}

.h4-reset {

    text-align: center;
    font-size: 10px;
    color: white;

}

.send {
    font-size: 17px;
    color: white;
    width: 100%;
    height: 40px;
    margin-top: 6px;
    border: none;
    background-color: green;

}

.button-reset{
    font-size: 20px;
    color: white;
    width: 100%;
    height: 40px;
    border: none;
    background-color: green;
    margin-bottom: 10px;
    margin-top: 7px;
}

.descrip {
    height: 50px;
}
/* catalogue page */

.body-catalogue {
    display: flex;
    background-color:whitesmoke;
    background-size: 100% 100%;
    flex-direction: column;
}

.h1-catalogue {
    color: black; 
    margin-top: 40px;}
    /* width: 80%;
    height: 30px;
    margin-top: 40px;
    margin-bottom: 30px;
} */




/* display: flex and flex wrap make it easier to put divs in a row */

.catalogue-box {  
    display: flex;
    flex-wrap: wrap;
    margin-left: 25px;
    margin-right: 25px;
    padding-left: 25px;
    padding-right: 25px;
    
}

.colum-catalogue {
    flex-basis: 21%;
    padding: 20px;
    min-width: 200px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: lightgray;
    border: 1px solid #05FF00;
}

.colum-catalogue img {
    width: 100%;
}

.main-catalog{
    width: 100%;
}

.h3-catalog {
    color: black;
    font-size: 20px ;
   
}

.p-catalog {
    color: black;
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 10px;


}

.botton-buynow {
    font-size: 20px;
    color: white;
    width: 100%;
    height: 40px;
    border: none;
    background-color: green;
    margin-bottom: 10px;
    margin-top: 7px;
}

.botton-buynow:hover{
    color: white;
    background-color: #05FF00;
    
}

.table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
.td {
    color: white;
    font-size: 20px;
    width: 150px;
    height: 50px;
    
}
table th, table td {
    border: solid 3px;
    border-color: #05FF00;
    color:white;

  }
.ul {
    color: #05FF00;
    margin: auto;
}
/* product page css */

.body-product {
    display: flex;
    background-color:whitesmoke;
    background-size: 100% 100%;
    flex-direction: column;
}



.produit-box {
    display: flex;
    flex-direction: row;
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 10px;
    padding-right: 10px;
    height: 500px;
}

.culum-product {
    flex-basis: 40%;
    padding: 10px;
    min-width: 300px;
    margin: 30px;
}


.imgFr-f1 {
    width: 85%;
    margin: 30px;
}

.p-product{
    font-weight: bold;
    color:green;
    font-size: 25px;
}
.h1-product {
    font-size: 2Opx;
    text-align: left;
    margin-left: 1px;
    color:#169c14;
}

.h4-product-descr {
    color: rgb(170, 169, 169);
    text-align: left;
    font-size: 10px;
    margin-top: -20px;
}

.h2-product-stock{
    font-size: 15px;
    color: grey;
}

.h3-product-tickets{
    color: rgb(70, 70, 70);
}

.h4-product-prix{
    color: red;
}
.li{
    color: #05FF00;
}
.alert-danger{
    color: red;
}

.error{
    color: red;
}

/* Admin's product page */

.newinfo-box{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #05FF00;
    margin-bottom: 100px;
}

.product-page-title{
    color: green;
    font-size: 25px;
    width: 70%;
   
}
.product-page{
    color:black;
   
}

.form-newinfo {
    width: 70%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.button-confirm{
    font-size: 20px;
    color: white;
    width: 100%;
    height: 43px;
    margin-top: 17px;
    border: none;
    background-color: green;

}

.button-confirm:hover{
    color: white;
    background-color: #05FF00;
}


.product-add-increment{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%

}

.h3-product-stock{
    margin: 0 20px;
    font-size: 20px;
}

.button-product-stock{
    width: 50px;
    height: 30px;
    outline: none;
    border-style: none;
    font-size: 30px;
    background-color:green;

}

.button-product-stock:hover {
    color: white;
    background-color: #05FF00;
}

 .titleprod{
     color: white;
 }

 .pricecart{
     color: white;
 }
 .cookie{
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #05FF00;
    height: 500px;
    width: 500px;
 }
 
 .font-cookie{
     position: absolute;
     left: 0px;
     right: 0px;
     top: 0px;
     bottom: 0px;
     background: rgb(0,0,0,0.3);
 }

.h1-cookie{
    color: black;
    font-size: 25px;
}

.imgcookie{
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.button-cookie{
    font-size: 20px;
    color:#05FF00;
    width: 55%;
    height: 43px;
    margin-top: 10px;
    border: none;
    background-color: black;
}

.accept-cookie{
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.tdcart{
    color: white;
}